.manual-button {
  position: absolute;
  width: 60px;
  height: 95px;
  left: 679px;
  top: 161px;
  text-align: center;
  font-size: 20px;
}

.manual-box-1 {
  position: absolute;
  left: 0%;
  right: 7.5%;
  top: 30.39%;
  bottom: 0%;

  background: var(--secondary);
  border: 1px solid #000000;
  box-sizing: border-box;
}

.manual-box-2 {
  position: absolute;
  left: 7.5%;
  right: 0%;
  top: 27%;
  bottom: 3.39%;

  background: var(--secondary);
  border: 1px solid #000000;
  box-sizing: border-box;
}

.manual-box-1:hover {
  background: pink;
  /* color: pink; */
}
.manual-box-2:hover {
  background: pink;
}

.unanswered-qs {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 789px;
  top: 191px;
  font-size: var(--m);
  background: var(--secondary);
  border: 1px solid #000000;
  border-radius: 40px;
  /* font-size: 20px; */
}

.unjudged-adds {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 779px;
  top: 191px;
  font-size: var(--);
  background: var(--secondary);
  border: 1px solid #000000;
  border-radius: 40px;
  /* font-size: 20px; */
}

.edit {
  position: absolute;

  /* left: 300px; */
  /* align-self: center; */
  left: 890px;
  top: 186px;
  width: 110px;
  height: 60px;
  /* right: 5%; */
  /* right: 42.96%; */
  /* top: 34.91%; */
  /* bottom: 59.92%; */

  background: var(--secondary);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 40px;
  font-size: 20px;
  text-align: center;
  /* padding: 10px; */
}

img {
  width: 200px;
  height: 200px;
  margin: 0px 10px;
  background-color: var(--secondary);
}

.side-text {
  padding: 0px var(--s);
}
p {
  padding: 0px;
  align-content: center;
  font-size: 18px;
}

.rect3 {
  position: absolute;
  width: 1191px;
  height: 65%;
  left: 252px;
  top: 300px;

  background: var(--primary);
  border-radius: var(--s);
  padding: var(--s);
}

.rect4 {
  width: 200px;
  height: 100%;
  margin: 0px 10px;
  background-color: var(--secondary);
  padding: var(--s) var(--s);
}

textarea {
  background-color: var(--secondary);
  /* position: absolute; */
  top: 15%;
  left: 35%;
  /* right: 20%; */
  padding: var(--m);
  font-size: 15px;
  border-radius: 40px;
  color: var(--primary--dim);
  width: 160px;
  height: 120px;
  color: var(--black);
  /* word-wrap: break-word;
  word-break: break-all; */
}

.submit {
  padding: var(--s);
  margin: var(--s);
  background: var(--secondary);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 40px;
  font-size: 20px;

  /* text-align: right; */
}

button:hover {
  background: pink;
}
