.settings {
  position: absolute;

  right: 5%;

  background: var(--secondary);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 40px;
  font-size: 30px;
  padding: 10px;
}

h2 {
  text-align: center;
}

.box {
  padding: 10px;
  margin: 10px;
  flex: 1;
  height: 410px;
  background-color: var(--primary);
}

.flex-container {
  position: relative;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  flex: 200px;

  /* justify-content: center; */
  /* background-color: var(--primary); */
}
